/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* 
Project Name: TravelPatch.Us 
Author: Albert Hong
*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignleft {
     float: left;
}

.alignright {
     float: right;
}

/*----------------------------------------------------------------------------- 
BODY 
-----------------------------------------------------------------------------*/

#user_nav {
	height: 40px;
	width: 940px;
	background: rgba(51,51,255,0.8);
	margin: 0 auto;
	color: white;
	box-shadow: 0 0 10px #000000;
	border-radius: 10px;
}

#banner {
	font-size: 15px;
	text-shadow: 2px 2px green;
	padding: 12px 10px 5px 10px;
	float: left;
}

h1 {
	font-size: 15px;
	text-shadow: 2px 2px green;
	/*float: left;*/
}

#user_nav a {
	color: rgba(0,255,0,0.9);
}

#account_status {
	width: auto;
	float: right;
	height: 30px;
	line-height: 22px;
}

#container {
	width: 940px;
	margin: auto;	
}

/*---------------------------------------------------------------------------- 
FOOTER   
-----------------------------------------------------------------------------*/

#footer {
	padding: 40px;
	text-align: center;
}

